Importing Necessary Libaries such as Faker, random and mqlSql

In [1]:
import mysql.connector
import random
from faker import Faker
fake = Faker(["en_IN"])

Creation of Class: database
This class provides methods to connect, create tables, and insert data into a MySQL database

In [5]:
class database:
  def __init__(self, host, user, password, port, database):
    self.host = host
    self.user = user
    self.password = password
    self.port = port
    self.database = database
    self.conn = None
    self.cursor = None
  def connect(self):
    self.conn = mysql.connector.connect(host = self.host, user = self.user, password = self.password, port = self.port, database = self.database)
    self.cursor = self.conn.cursor()
    print("connection success")
  def create_table(self, table_query):
    self.cursor.execute(table_query)
    self.conn.commit()
    print("table creation successful")
  def insert_list_of_tuple(self, insert_query, list_tuple):
    self.cursor.executemany(insert_query, list_tuple)
    self.conn.commit()
    print("insertion successful")

Connection to MySQL database(parameters)

In [14]:
config = {"host":"gateway01.ap-southeast-1.prod.aws.tidbcloud.com", "user":"2Sq2DQiR5GcBS1k.root", "port":4000, "password":"AoyZ0L33qUgeKtFp", "database":"Zomato"}
db_obj = database(**config)
db_obj.connect()

connection success

Creation of Customers Table

In [8]:
Customer = "CREATE TABLE IF NOT EXISTS Customers (customer_id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), email VARCHAR(255), phone VARCHAR(20), location VARCHAR(255),signup_date DATE, is_premium BOOLEAN, preferred_cuisine VARCHAR(50),total_orders INT,average_rating FLOAT )"
db_obj.create_table(Customer)

table creation successful

Insertion of Values into Customers Table

In [9]:
Customer_table = []
for i in range(500):
  Customer_table.append((fake.name(),fake.unique.email(),fake.unique.phone_number(),fake.address(),fake.date_between(start_date='-2y', end_date='today'),fake.boolean(),random.choice(['Chinese', 'Italian', 'Mexican', 'American','Punjabi','Kashmiri','South Indian','Andhra','Sindhi','Continental','Japanese']),random.randint(1, 50),round(random.uniform(1, 5), 1)))
IC = "INSERT INTO Customers (name, email, phone, location, signup_date, is_premium, preferred_cuisine, total_orders, average_rating)VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
db_obj.insert_list_of_tuple(IC, Customer_table)

insertion successful

Creation of Restaurants Table

In [11]:
Restaurant =" CREATE TABLE IF NOT EXISTS Restaurants (restaurant_id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255),cuisine_type VARCHAR(50),location VARCHAR(255),owner_name VARCHAR(255), average_delivery_time INT,contact_number VARCHAR(20),rating FLOAT,total_orders INT, is_active BOOLEAN)"
db_obj.create_table(Restaurant)

table creation successful

Insertion of Values into Restaurants Table

In [12]:
Restaurant_table = []
for i in range(150):
  Restaurant_table.append((random.choice(["Saravana Bhavan", "Sagar Ratna", "Dosa Plaza", "Ananda Bhavan", "MTR", "Adyar Ananda Bhavan", "Murugan Idli Shop", "Udupi Krishna Bhavan", "Madras Cafe", "Namma Veedu Vasanta Bhavan",
"Din Tai Fung", "Hakkasan", "Panda Express", "Mr. Chow", "Chowking","Little Sheep Hot Pot", "P.F. Chang's", "Tai Hing", "Haidilao Hot Pot", "Crystal Jade","Nobu", "Sushi Zanmai", "Genki Sushi", "Sukiyabashi Jiro", "Ippudo", "Ichiran Ramen", "Marugame Udon", "Tetsuya’s", "Kura Sushi", "Raku","McDonald's", "Burger King", "Wendy's", "KFC", "Shake Shack", "In-N-Out Burger", "Five Guys", "Denny's", "Chili's", "Buffalo Wild Wings", "Chipotle", "Taco Bell", "Qdoba", "El Pollo Loco", "Del Taco", "Cantina Laredo", "Moe’s Southwest Grill", "On the Border", "Rosa Mexicano", "Chuy’s"
]),random.choice(['Chinese', 'Italian', 'Mexican', 'American','Punjabi','Kashmiri','South Indian','Andhra','Sindhi','Continental','Japanese']),fake.address(),fake.name(),random.randint(15, 60),fake.phone_number(),round(random.uniform(1, 5), 1),random.randint(10, 1000),fake.boolean()))
IR = "INSERT INTO Restaurants (name, cuisine_type, location, owner_name, average_delivery_time, contact_number, rating, total_orders, is_active) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
db_obj.insert_list_of_tuple(IR, Restaurant_table)

insertion successful

Creation of Orders Table

In [15]:
Order = """
CREATE TABLE IF NOT EXISTS Orders (
    order_id INT AUTO_INCREMENT PRIMARY KEY, 
    customer_id INT, 
    restaurant_id INT, 
    order_date DATETIME,
    delivery_time DATETIME,
    status VARCHAR(50),
    total_amount FLOAT,
    payment_mode VARCHAR(50), 
    discount_applied FLOAT, 
    feedback_rating FLOAT, 
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id),
    FOREIGN KEY (restaurant_id) REFERENCES Restaurants(restaurant_id)
);
"""
db_obj.create_table(Order)

table creation successful

Insertion of Values into Orders Table

In [16]:
Order_table = []
for i in range(700):
  Order_table.append(((
                random.randint(1, 500),
                random.randint(1, 150),
                fake.date_time_this_year(),
                fake.date_time_this_year(),
                random.choice(['Pending', 'Delivered', 'Cancelled']),
                round(random.uniform(20, 10000), 2),
                random.choice(['Credit or Debit Card', 'Cash', 'UPI', 'Wallet']),
                round(random.uniform(0, 40), 2),
                round(random.uniform(1, 5), 1))
))
IO = "INSERT INTO Orders (customer_id, restaurant_id, order_date, delivery_time, status, total_amount, payment_mode, discount_applied, feedback_rating) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
db_obj.insert_list_of_tuple(IO, Order_table)

insertion successful

Creation of DeliveryPersons Table

In [17]:
Deliverypersons = """
            CREATE TABLE IF NOT EXISTS DeliveryPersons (
                delivery_person_id INT AUTO_INCREMENT PRIMARY KEY,
                name VARCHAR(255),
                contact_number VARCHAR(20),
                vehicle_type VARCHAR(50),
                total_deliveries INT,
                average_rating FLOAT,
                location VARCHAR(255)
            )
            """
db_obj.create_table(Deliverypersons)

table creation successful

Insertion of Values into DeliveryPersons Table

In [18]:
Deli_persons_table = []
for i in range(600):
  Deli_persons_table.append(((
                fake.name(),
                fake.phone_number(),
                random.choice(['Bike', 'Car']),
                random.randint(0,300),
                round(random.uniform(1, 5), 1),
                fake.city()
            )
  ))
IP = "INSERT INTO DeliveryPersons (name, contact_number, vehicle_type, total_deliveries, average_rating, location) VALUES (%s, %s, %s, %s, %s, %s)"
db_obj.insert_list_of_tuple(IP, Deli_persons_table)

insertion successful

Creation of Deliveries Table

In [19]:
Delivery = """ CREATE TABLE IF NOT EXISTS Deliveries (
                delivery_id INT AUTO_INCREMENT PRIMARY KEY,
                order_id INT,
                delivery_person_id INT,
                delivery_status VARCHAR(50),
                distance FLOAT,
                delivery_time INT,
                estimated_time INT,
                delivery_fee FLOAT,
                vehicle_type VARCHAR(50),
                FOREIGN KEY (order_id) REFERENCES Orders(order_id),
                FOREIGN KEY (delivery_person_id) REFERENCES DeliveryPersons(delivery_person_id)
            ) """

db_obj.create_table(Delivery)

table creation successful

Insertion of Values into Deliveries Table

In [20]:
Delivery_table = []
for i in range(600):
  Delivery_table.append(((
                random.randint(1, 200),
                random.randint(1, 20),
                random.choice(['On the way', 'Delivered']),
                round(random.uniform(1, 25), 2),
                random.randint(10, 90),
                random.randint(10, 90),
                round(random.uniform(2, 30), 2),
                random.choice(['Bike', 'Car']),
            )
  ))
ID = "INSERT INTO Deliveries (order_id, delivery_person_id, delivery_status, distance, delivery_time, estimated_time, delivery_fee, vehicle_type) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"  
db_obj.insert_list_of_tuple(ID, Delivery_table)

insertion successful